<div id="spinner" ng-show="showSpinner" style="background:url(content/images/spinner.gif) no-repeat center center;width:200px;height:200px;position: fixed;top: 30%;left: 41%;z-index: 99999;"></div>

<div class="col-md-12">
  <div class="panel panel-default border5" style="margin-bottom: 5px;">
    <div class="panel-body" style="background-color:#FBFBFB;">
      <div class="row">
        <div id="" style="">
          <h4 style="display:inline-block">View
            <span class="semi-bold ng-binding">Products</span></h4>
            <button id="add_product_buttom" ng-click="addProduct()" tooltip-popup-delay="500" uib-tooltip="Add Product" style="float:right" type="button" class="btn btn-default">
                          <span style="" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                      </button>
          <button id="refresh_button" ng-click="loadData()" tooltip-popup-delay="500" uib-tooltip="Refresh Query" style="float:right" type="button" class="btn btn-default">
                        <span style="" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
          <button ng-click="gridOptions.api.exportDataAsCsv()" tooltip-popup-delay="500" uib-tooltip="Export Data" style="float:right" type="button" class="btn btn-default">
                        <span style="" class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    </button>
          <button ng-csv="getAllRowData()" quote-strings="&quot;" csv-header="getCSVHeader()" filename=".csv" id="export_detail_button" style="float:right" type="button" class="hide btn btn-default ng-isolate-scope">
                            <span style="" class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            </button>
          <div style="float: right;margin-right: 20px;" class="dataTables_filter">
            <label>Search Products :
                        <input id="filename_filter" ng-model="productFilter" ng-change="productFilterChanged()" class="form-control input-small input-inline ng-pristine ng-untouched ng-valid ng-empty" placeholder="" type="search"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <div id="basicTable_wrapper" class="dataTables_wrapper form-inline no-footer">
            <div ag-grid="gridOptions" class="ag-fresh" style="height: 250px;width:100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="panel panel-default border5" style="margin-bottom: 5px;">
    <div class="panel-body" style="background-color:#FBFBFB;">
      <div class="row">
        <div id="contact_tool_row" style="">
          <h4 style="display:inline-block">View
            <span class="semi-bold ng-binding">Campaigns</span></h4>
            <button id="add_product_buttom" ng-click="addCampaign()" tooltip-popup-delay="500" uib-tooltip="Add Product" style="float:right" type="button" class="btn btn-default">
                          <span style="" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                      </button>
          <button id="refresh_button" ng-click="loadData()" tooltip-popup-delay="500" uib-tooltip="Refresh Query" style="float:right" type="button" class="btn btn-default">
                        <span style="" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
          <button ng-click="gridOptions2.api.exportDataAsCsv()" tooltip-popup-delay="500" uib-tooltip="Export Data" style="float:right" type="button" class="btn btn-default">
                        <span style="" class="glyphicon glyphicon-export" aria-hidden="true"></span>
                    </button>
          <button ng-csv="getAllRowData()" quote-strings="&quot;" csv-header="getCSVHeader()" filename=".csv" id="export_detail_button" style="float:right" type="button" class="hide btn btn-default ng-isolate-scope">
                            <span style="" class="glyphicon glyphicon-export" aria-hidden="true"></span>
                            </button>
          <div style="float: right;margin-right: 20px;" class="dataTables_filter">
            <label>Search Products :
                        <input id="filename_filter" ng-model="campaignFilter" ng-change="campaignFilterChanged()" class="form-control input-small input-inline ng-pristine ng-untouched ng-valid ng-empty" placeholder="" type="search"></label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="table-responsive">
          <div id="basicTable_wrapper2" class="dataTables_wrapper form-inline no-footer">
            <div ag-grid="gridOptions2" class="ag-fresh" style="height: 250px;width:100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
